@import url(../../styles/estr_global.css);
.pag1{
    display: flex;
}
button{
    width: 20vw;
    height: 20vh;
    background-color: antiquewhite;
}
.parteesquerda{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.partecentral{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.partedireita{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.up{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.down{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
h1{
    color: whitesmoke;
    font-size:2dvi
}
.title{
    margin-top: 10px;
    background-color: #6c0202d2;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid black;
}