/* Estrutura padrão do site */
@import url(./estr_global.css);
.pag1{
    height: 100vh;
}
.escopogeral{
    display: flex;
}
.parteesquerda{
    flex: 1;
}
.parteesquerda img{
    margin-left: 2vw;
    width: 95%;
    margin-top: 2vh;
}
.partedireita{
    flex: 1;
}
.boxcima{
    margin-top: 3vh ;
    height: 40vh;
    width: 30vw;
    background-color: #72000065;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: x-large;

}
.agenda{
    margin-right: 17vw;
}
.boxbaixo{  
    margin-top: 3vh;
    height: 40vh;
    width: 30vw;
    background-color: #72000065 ;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: x-large;
}

.pag2{
    height: 100vh;
}
.pag2 .parteesquerda img{
    margin-top: 20vh;
    height: 60vh;
    width: 80vh;
}
.pag2 hr{
    background-color: #4B0101;
    border: none;
    height: 2px;
    width: 85%;
}               
.boxdireita{
    background-color: #72000065;
    height: 40vh;
    width: 30vw;
    margin-top: 28vh;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.boxdireita hr{
    width: 80%;
    background-color: black;
    border: none;
    height: 3px;
}
.boxdireita h2{
    color: #4B0101;
}
.title-page3{
    font-size: xx-large;
    border-top: 2vh;
}
.foodmaster{
    display: flex;
}
.food{
    margin-top: 20vh;
    background-color: #7200008a ;
    width: 40vh;
    height: 65vh;
    border-radius: 30px;
}
.minbox{
    width: 37vh;
    height: 40vh;
    background-color: black;
    margin-top: 5vh;
    border-radius: 10px ;
}