/* Estrutura padrão do site */
@import url(./estr_global.css);
.pag1{
    height: 100vh;
}
.escopogeral{
    display: flex;
    justify-content: space-around;
}
.parteesquerda{
    flex: 1;
    display: flex;
    justify-content: space-around;
}
.parteesquerda img{
    margin-left: 2vw;
    width: 95%;
    margin-top: 2vh;
}
.partedireita{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boxcima{
    margin-top: 3vh ;
    height: 40vh;
    width: 30vw;
    background-color: #72000065;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: clamp(16px,1.8vw,19px);
    

}

.boxbaixo{  
    margin-top: 3vh;
    height: 40vh;
    width: 30vw;
    background-color: #72000065 ;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: clamp(16px,1.8vw,19px);
    
}

.pag2{
    height: 100vh;
}
.pag2 .parteesquerda img{
    margin-top: 20vh;
    height: 60vh;
    width: 80vh;
}
.pag2 hr{
    background-color: #4B0101;
    border: none;
    height: 2px;
    width: 100%;
}               
.boxdireita{
    background-color: #72000065;
    height: 40vh;
    width: 30vw;
    margin-top: 28vh;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    font-size: clamp(12px,1.5vw,17px);
}
.boxdireita hr{
    width: 80%;
    background-color: black;
    border: none;
    height: 3px;
}
.boxdireita h2{
    color: #4B0101;
}
.title-page3{
    font-size: xx-large;
    border-top: 2vh;
}

.minbox img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.foodmaster{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.name-price{
    display: flex;
}
.foodmaster h1,h2,h3{
    color: whitesmoke;
    font-size: revert;
}
.text-produto{
    width: 90%;
    display: flex;
    justify-content: center;
    height: 40%;
}