/* Estrutura padrão do site */
@import url(./estr_global.css);
.title-page3{
    font-size: xx-large;
    border-top: 2vh;
    margin-left: 3vw;
}
hr{
    background-color: #4B0101;
    border: none;
    height: 2px;
    width: 100%;
}
.title-page3 h1{
    color: #4B0101;
}

.rodape{
    height: 30vh;
    background-color: #4B0101;
    width: 100%;
    display: flex;
}
.rodape .esquerda-rodape{
    flex: 1;
    height: 100%;
}
.rodape .direita-rodape{
    flex: 1;
    
}
.rodape .meio-rodape{
    display: flex;
    flex: 1;
}
.rodape .meio-rodape li{
    list-style: none;
    color: whitesmoke;
}
.rodape .meio-rodape li a{

    color: whitesmoke;
}