@import url(./estr_global.css);
.pag1{
    display: flex;
}
.parteesquerda{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.allboxes{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box{
    border: 4px solid black;
    width: 80%;
    display: flex;
   
}
.imagem img{
    max-width: 15vw;
    max-height: 40vh;
}
.titulo{
    margin-left: 5vw;
}
.partedireita{
    flex: 1;
    display: flex;
    justify-content: center;
}
.partedireita img{
    margin-top: 15vh;
    height: 70vh;
    width: 45vw;
}
.rodape{
    margin-top: 20vh;
}
