@import url(./estr_global.css);
.form{
    height: 50vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    background-color: aliceblue; 
    margin-top: 12vh;
    border-radius: 20px;
}
.email{
    margin-top: 5vh;
}
.form form a{
    margin-left: 18vh;  
}
.enviar input{
    margin-left: 13vh;
    margin-top: 10vh;
    width: 12vw;
    height: 5vh;
}