@import url(estr_global.css);
.theme{
    background-color: whitesmoke;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../imagens/indexpage/theme.png");
    border-top: 4px solid black;
}
.button{
    margin-top: 60vh;
}
.button button{
    height: 7vh;
    width: 30vh;
    font-size: larger;
    background-color: #4B0101;
    color: whitesmoke;
    cursor: pointer;
    border: none;
    border:2px solid black;
}
.button a{
    color: whitesmoke;
}

hr{
    height: 0.4vh;
    background-color: #4B0101;
    border: none;
    margin-left: 3vw;
    margin-right: 3vw;
}
.texto{
    border-top: 2vh;
    font-size: xx-large;
}
.option-1{
    width: 100vw;
    display: flex;
    justify-content: space-around;
}
.option-1 button{
    height: 20vh;
    width: 30vw;
    background-image: url(./imagens/fundobutton.jpg);
    background-color: #4B0101;
    cursor: pointer;
    font-size: larger;
    border: none;
    margin-top: 25vh;
    border-radius: 20px;
    background-size: 100%;
    background-clip: content-box;
}
.option-1 button a{
    color: whitesmoke;
}

.pag3{
    height: 100vh;
}
.title-page3{
    font-size: xx-large;
    border-top: 2vh;
    margin-left: 3vw;
}
.title-page3 h1{
    color: #4B0101;
}

.rodape{
    height: 30vh;
    background-color: #4B0101;
    width: 100%;
    display: flex;
}
.rodape .esquerda-rodape{
    flex: 1;
    height: 100%;
}
.rodape .direita-rodape{
    flex: 1;
    
}
.rodape .meio-rodape{
    display: flex;
    flex: 1;
}
.rodape .meio-rodape li{
    list-style: none;
    color: whitesmoke;
}
.rodape .meio-rodape li a{

    color: whitesmoke;
}

.minbox img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.foodmaster{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.name-price{
    display: flex;
}
.foodmaster h1,h2,h3{
    color: whitesmoke;
    font-size: revert;
}
.text-produto{
    width: 90%;
    display: flex;
    justify-content: center;
    height: 40%;
}

.pag2{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.parteesquerda,.partedireita{
    flex: 1;
}

.cardapio-container{
    width: 50vh;
    height: 50vh;
    background-color: brown;
    position: relative;
    margin-top: 5vh;
}
.text-container{
    width: 40vh;
    height: 40vh;
    background-color: brown;
    position: relative;
    margin-top: 5vh;
}
.border{
    height: 100px;
    width: 100px;
    background-color: #db8764;
    border-radius: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.border2{
    height: 100px;
    width: 100px;
    background-color: #db8764;
    border-radius: 100%;
    position: absolute;
    transform: translate(50%,-50%);
    right: 0;
    top: 0;
}
.border3{
    height: 100px;
    width: 100px;
    background-color: #db8764;
    border-radius: 100%;
    position: absolute;
    transform: translate(-50%,50%);
    left: 0;
    bottom: 0;
}
.border4{
    height: 100px;
    width: 100px;
    background-color: #db8764;
    border-radius: 100%;
    position: absolute;
    transform: translate(50%,50%);
    right: 0;
    bottom: 0;
}
.image{
    width: 42.5vh;
    height: 40vh;
    background-color: black;
    margin-left: 35px;
    margin-top: 90px;
}