@import url(estr_global.css);
.theme{
    margin-top: 10vh;
    background-color: whitesmoke;
    height: 70vh;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button button{
    height: 5vh;
    width: 30vh;
    font-size: larger;
    background-color: #4B0101;
    color: whitesmoke;
    cursor: pointer;
    border: none;
}
.button a{
    color: whitesmoke;
}

.pag2{
    height: 100vh;
}
hr{
    height: 0.4vh;
    background-color: #4B0101;
    border: none;
    margin-left: 3vw;
    margin-right: 3vw;
}
.texto{
    border-top: 2vh;
    font-size: xx-large;
}
.option-1{
    width: 100vw;
    display: flex;
    justify-content: space-around;
}
.option-1 button{
    height: 20vh;
    width: 30vw;
    background-image: url(./imagens/fundobutton.jpg);
    background-color: #4B0101;
    cursor: pointer;
    font-size: larger;
    border: none;
    margin-top: 25vh;
    border-radius: 20px;
    background-size: 100%;
    background-clip: content-box;
}
.option-1 button a{
    color: whitesmoke;
}

.pag3{
    height: 100vh;
}
.title-page3{
    font-size: xx-large;
    border-top: 2vh;
    margin-left: 3vw;
}
.title-page3 h1{
    color: #4B0101;
}

.rodape{
    height: 30vh;
    background-color: #4B0101;
    width: 100%;
    display: flex;
}
.rodape .esquerda-rodape{
    flex: 1;
    height: 100%;
}
.rodape .direita-rodape{
    flex: 1;
    
}
.rodape .meio-rodape{
    display: flex;
    flex: 1;
}
.rodape .meio-rodape li{
    list-style: none;
    color: whitesmoke;
}
.rodape .meio-rodape li a{

    color: whitesmoke;
}
