@import url(./estr_global.css);
.pag1{
    display: flex;
}
.parteesquerda{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parteesquerda .box{
    height: 70vh;
    width: 95%;
    background-color: aliceblue;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.partedireita{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partedireita .boxgeral{
    background-color: brown;
    height: 80vh;
    width: 95%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.partedireita .nomedocliente{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: x-large;
}
.partedireita .fotodocliente{
    height: 80%;
    width: 80%;
    background-color: antiquewhite;
    border-radius: 100%;

}

