@import url(estr_global.css);
.pag1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.maiorbox{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 85vh;
    width: 100vh;
    gap: 20px;
}
.boxsuperior{
    flex: 1;
    display: flex;
    width: 100%;
}
.boxmediana{
    flex: 1;
    display: flex;
    width: 100%;
}
.boxinferior{
    flex: 1;
    display: flex;
    width: 100%;
    
}
 .parteesquerda{
    flex: 1;
    background-color: #4b0101ea;
 }
 .partedireita{
    flex: 1;
    background-color: #4b0101;
 }
 .partedireita .imagem{
    height: 100%;
    width: 100%;
 }