@import url(estr_global.css);
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    width: 100vh;
    height: 25vh;
    margin-top: 5vh;
}   
 .parteesquerda{
    flex: 2;
    background-color: #4b0101ea;
 }
 .partedireita{
    flex: 1;
    background-color: #4b0101;
 }
 .partedireita .imagem{
    height: 100%;
    width: 100%;
 }      